.container {
    border: 5px solid #ffcc5c;
    display: flex;
    height: 100%;
    align-items: center;
  }

.logout {
  align-self: flex-start;
}

.home {
  align-self: flex-end;
}
/* Before adding the "display: flex;" element to this class css, the elements
        on the index html were stacked on top of one another. However,
        after adding the flex mark, the blocks placed themselves next to
        each other, though the container theyre placed in is still taking up
        the whole block width. */ 
  
  /* .container > div {
    flex: 1; }
    /*flex-grow, flex-shrink, flex-basis*/


/* .search {
  flex: 2;
}

.logout, .home {
  flex-shrink: 0;
} */